.root {
  display: flex;
  align-items: center;
  height: 100%;
  padding-top: rem(80px);
  padding-bottom: rem(80px);
  background-color: var(--mantine-color-blue-filled);
}

.label {
  margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
  font-weight: 900;
  font-size: rem(220px);
  line-height: 1;
  text-align: center;
  color: var(--mantine-color-blue-3);

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(120px);
  }
}

.title {
  font-weight: 900;
  font-size: rem(38px);
  font-family: 'Greycliff CF', var(--mantine-font-family);
  text-align: center;
  color: var(--mantine-color-white);

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(32px);
  }
}

.description {
  max-width: rem(540px);
  margin: auto;
  margin-top: var(--mantine-spacing-xl);
  margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
  color: var(--mantine-color-blue-1);
}
